$border-radius: 20px;

$primary: #709fdc;
$base: #071739;
$shadow-color:  #274684;
$lighter-shadow: rgba($shadow-color, .2);
$white: #fff;
$gray: #8c8c8c;
$lighter-gray: rgba($gray, .1);
$time-line-width: 240px;
$transition: .3s all ease;

@mixin dragIndicator($property, $background, $z-index) {
  #{$property}{
    position: absolute;
    top: 0;
    z-index: $z-index;
    width: 0;
    height: 5px;
    border-radius: 5px;
    background: $background;
    transition: width $transition;
    &:hover{
      &::before{
        opacity: 1;
      }
      &::after{
        opacity: 1;
      }
    }
    &::before{
      opacity: 0;
      content: attr(data-content);
      display: block;
      position: absolute;
      top: -40px;
      right: -23px;
      width: 40px;
      padding: 3px;
      text-align: center;
      color: white;
      background: $shadow-color;
      border-radius: $border-radius;
    }
    &::after{
      opacity: 0;
      content:'';
      display: block;
      position: absolute;
      top: -18px;
      right: -8px;
      border-top: 8px solid $shadow-color;
      border-left:8px solid transparent;
      border-right:8px solid transparent;
    }
    #{$property}-drag{
      position: absolute;
      right: -7.5px;
      top: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $base;
      transition: all .3s;
      &:hover{
        box-shadow: 0 0 0 6px $lighter-shadow;
      }
    }
  }
}

body{
  font-family: 'Rubik', sans-serif;
  color: $base;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $lighter-gray;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  overflow: hidden;
}

.card h2{
  margin-bottom: 40px;
}

.card .current-value{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card .current-value label{
  font-size: 20px;
}

.card .current-value input{
  margin: 0;
  width: 60px;
  font-size: 16px;
  color: white;
  padding: 5px;
  padding-left: 15px;
  border: none;
  border-radius: $border-radius;
  background: $shadow-color;
}

.card .values{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  width: $time-line-width;
}

#slider{
  position: relative;
  margin: 0 auto;
  width: $time-line-width;
  height: 5px;
  background: $primary;
  border-radius: 5px;
  cursor: pointer;
}

@include dragIndicator("#min", $primary, 2);
@include dragIndicator("#max", $shadow-color, 1);

.card .current-value {
  justify-content: flex-start;
}

.card .current-value input {
  margin-left: 10px;
}

.card .values {
  width: 100%;
  justify-content: flex-end;
}
.linear-horizontal-layout{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;

  input{
    padding:.75em;
    border: 1px #d6d6d6 solid;
    border-radius: 5px;
    min-width: 50%;
  }
}
#minInp,#maxInp{
  margin-inline: 0.5rem;
}