

.ChipGroup{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: wrap;

    .selected{
        color: white;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0.25rem;
        border-radius: 20px;
        background-color: #06283d;
    }
    .ChipButton{
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0.25rem;
        background-color: aliceblue;
        border-radius: 20px;
    
        
        
        
    }
}