.J4D-admin-jobflow3{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;

    .TopNav{
        height: fit-content;
        margin-bottom: 1em;
    }
    .Header{
        height: fit-content;
    }
    .Sec1{

    }
    .Sec2{}
    .Footer{}
}