.body{
    background-color: #ffff;
}
.jobdetails{
    width:90%;
    margin-left: auto;
    margin-right: auto;


    .navbar{
        margin-bottom: 20px;
    }
    
    .maincontent{
        background-color: white;

      .upperpart{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

        .header{
             padding: 40px;

            .MainHeader{
              font-size: 26px;
              color: #06283D;
              font-weight: 700;

            }

            .secondaryHeader{
                font-size: 14px;
                font-weight: 500;
                color: #06283D;
                
            }
        }

        .searchbox{
            padding: 40px;
            display: flex;
            justify-content: space-between;
        }

      }


      .cards{

        .row1{
            width:95%;
            height:244px;
            background-color: yellow;
            margin-left:auto;
            margin-right: auto;
        }

        .row2{
            margin-top: 4%;
            margin-bottom: 8%;
            width:95%;
            height:244px;
            background-color: yellow;
            margin-left:auto;
            margin-right: auto;
        }
      }
        
    }
    
}