.ChipButton{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.25rem;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
}

.selected{
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.25rem;
    border-radius: 20px;
    background-color: #06283d;
}

.ChipGroup{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: wrap;
}